
.search-box {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-left: 20px;
  }
  input:focus {
    outline: none;
  }
  .material-icons {
    padding-right: 5%;
    color: grey;

  }
  .search-box input {
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding-right: 10px;
  }
