<form [formGroup]="searchForm">
  <div class="search-box">
    <input type="text" formControlName="searchValue" placeholder="Buscar usuarios...">
    <span class="material-icons">&#xe8b6;</span>
  </div>
</form>

