<mat-card (click)="selectUser()">
    <img mat-card-image src="https://via.placeholder.com/200" alt="{{ user.name }}">
    <mat-card-title>{{ user.name }} {{ user.surname}} {{ user.surname2}}</mat-card-title>
    <mat-card-subtitle>+ {{ prefix}} {{ user.phone }}</mat-card-subtitle>
  </mat-card>