
.example-spacer {
    flex: 1 1 auto;
  }
.backgroundColor {
    background-color : rgba(134, 239, 255, 0.9);
}
 
.mat.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}