<div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Detalles del usuario</h2>
        <button class="close-button" (click)="closeModal()">X</button>
      </div>
      <div class="modal-body">
        <div class="user-details">
          <div class="user-avatar">
            <img src="https://via.placeholder.com/140" alt="Avatar" />
          </div>
          <div class="user-info">
            <h3>
              {{ user.name }}
              {{ user.surname }} {{ user.surname2 }}
            </h3>
            <p><b>Id: </b>{{ user.id }}</p>
            <p><b>Teléfono:</b> +{{ prefix }} {{ user.phone }}</p>
            <p>
              <b>Fecha de nacimiento:</b>
              {{ user.datebirthday | date : "dd/MM/yyyy" }}
            </p>
            <p><b>País:</b> {{ country }}</p>
            <p><b>Sexo:</b> {{ user.sex }}</p>
            <p><b>Última modificación:</b> {{ user.lastModification| date : "dd/MM/yyyy"  }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>