.search-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

//mat grid responsive
@media only screen and (min-width: 768px) {
  .mat-grid-tile {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .mat-grid-tile {
    width: calc(100% / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .mat-grid-tile {
    width: calc(100% / 4);
  }
}
.mat-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .mat-grid-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media only screen and (max-width: 480px) {
  .mat-grid-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Estilos para el paginator */
.pagination {
  display: flex !important;
  justify-content: center !important;
}
