<app-header></app-header>
<div class="search-container">
  <app-search-bar (Results)="handleResults($event)"></app-search-bar>
</div>

<main>

  <div class="pagination" *ngIf="peopleResults.length > 0">

    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>

  <mat-grid-list [cols]="2" rowHeight="2:1" [gutterSize]="'10px'">
    <mat-grid-tile
      *ngFor="
        let people of peopleResults
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalItems
              };
        let i = index
      "
    >
      <app-user-card
        [user]="people"
        [prefix]="getPhoneById(people['country-id'])"
        (Select)="onUserSelect($event)"
      >
      </app-user-card>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-container *ngIf="selectedUser">
    <app-modal
      (click)="updateSelectedUser()"
      [user]="selectedUser"
      [prefix]="getPhoneById(selectedUser['country-id'])"
      [country]="getCountryDescriptionById(selectedUser['country-id'])"
    ></app-modal>
  </ng-container>

</main>

<app-footer></app-footer>
