footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    color: #666;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* height of footer */
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
    margin-bottom: -50px; /* height of footer */
    padding-bottom: 50px; /* height of footer */
  }

